{% extends 'base.html.twig' %}

{% block title %}Hello LisseurPeigneChauffantController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-6">
				<br/>
				<img src="{{ asset('images/Accessoires/LISSEUR PEIGNE CHAUFFANT/lisseur1.jpeg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<br/>
				<img src="{{ asset('images/Accessoires/LISSEUR PEIGNE CHAUFFANT/lisseur3.jpeg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>
	</section>
{% endblock %}
