{% extends 'base.html.twig' %}

{% block title %}Hello ColorationController!{% endblock %}

{% block body %}
<section class="container">
		<div class="row">
			<div class="col-6">
				<br/>
				<img src="{{ asset('images/Accessoires/COLORATION/colo2.jpeg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<img src="{{ asset('images/Accessoires/COLORATION/colo3.jpeg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>
	</section>
{% endblock %}
