{% extends 'base.html.twig' %}

{% block title %}Hello PerruquesDeCouleursController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-8">


				<br/>
				<img src="{{ asset('images/Perruques/Perruques de couleurs/image56.jpg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>
	</section>


{% endblock %}
