<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">LYARHAIR</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">ACCUEIL</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PERRUQUES</a>
					<div class="dropdown-menu dark">
						<a class="dropdown-item" href="#">CARRÉ PLONGEANT</a>
						<a class="dropdown-item" href="#">PERRUQUE COURTE</a>
						<a class="dropdown-item" href="#">PERRUQUE 360°</a>
						<a class="dropdown-item" href="#">PERRUQUE DE COULEUR°</a>
						<a class="dropdown-item" href="#">FRANGE</a>
						<a class="dropdown-item" href="#">PERRUQUE SANS COLLE</a>
					</li>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">TISSAGES BRÉSILIEN</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">PACK 3 BUNDLE</a>
						<a class="dropdown-item" href="#">PACK 3 BUNDLE + CLOSURE
						</a>
						<a class="dropdown-item" href="#">PACK 3 BUNDLE DÉGRADÉ + CLOSURE
						</a>
					</li>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ACCESSOIRS</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">BONNETS</a>
						<a class="dropdown-item" href="#">COLORATION</a>
						<a class="dropdown-item" href="#">LISSEUR CHAUFFANT</a>
					</li>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A PROPOS DE LYARHAIR</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">HISTOIRE DE NOTRE MARQUE</a>
						<a class="dropdown-item" href="#">SOINS CAPILLAIRES</a>
						<a class="dropdown-item" href="#">CONTACTEZ NOUS</a>
					</li>
				</li>
			</ul>

			<a class"d-flex" href="#">
				<button type="button" class="btn btn-dark text-black me-2">Panier( 0 )</button>
			</a>


			<form class="d-flex" role="search">
				<button type="button" class="btn btn-dark">

					<div>
						<a class="btn-outline-success text-black" href="#">Connexion</a>
					</div>

				</button>
			</form>

		</div>
	</div>
</nav>
