{% extends 'base.html.twig' %}

{% block title %}Hello CarréPlongeantController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-8"> </br> 


				<img src="{{ asset('images/Perruques/Carré plongeant/image4.jpg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>
	</section>


{% endblock %}
