{% extends 'base.html.twig' %}

{% block title %}Hello Perruques360°Controller!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-8"> </br> 


				<img src="{{ asset('images/Perruques/Perruques 360°/image47.jpeg') }}" class="d-block w-50" alt="..."/>

			</div>
		</div>

	</section>

{% endblock %}
