{% extends 'base.html.twig' %}

{% block title %}
	ACCUEIL
{% endblock %}

{% block body %}
	<!-- <img src="images/Perruques 360°/image50.jpeg" alt=""> -->


	<img src="{{ asset('images/2.jpg') }}" class="d-block w-100" alt="..."/>
</br>


<div class="container">
	<section class="row">
		<div class="col-12"></div>
		<div class="card" style="width: 18rem;">
			<img src="{{ asset('images/Accessoires/BONNETS/bo1.jpeg') }}" class="d-block w-100" alt="..."/>
			<div class="card-body">
				<h5 class="card-title">Bonnets</h5>
				<a href="#" class="btn btn-primary">Ajouter au panier</a>
			</br>

		</div>

	    </div>
    </section></br>
</div> 
    <div class="container">
		<section class="row">
            <div class="col-12"></div>
            <div class="card" style="width: 18rem;">
	            <img src="{{ asset('images/Accessoires/COLORATION/colo2.jpeg') }}" class="d-block w-100" alt="..."/>
	            <div class="card-body">
		            <h5 class="card-title">Coloration</h5>
		            <a href="#" class="btn btn-primary">Ajouter au panier</a>
	                  </br>
                </div>
            </div>
        </section></br>
	</div>
	 <div class="container">
		<section class="row">
            <div class="col-12"></div>
            <div class="card" style="width: 18rem;">
	            <img src="{{ asset('images/Accessoires/acc.JPG') }}" class="d-block w-100" alt="..."/>
	            <div class="card-body">
		            <h5 class="card-title">Lisseur peigne chauffant</h5>
		            <a href="#" class="btn btn-primary">Ajouter au panier</a>
	                  </br>
                </div>
            </div>
        </section></br>
	</div> 


{% endblock %}
