{% extends 'base.html.twig' %}

{% block title %}Hello BonnetController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-5">
				<br/>
				<img src="{{ asset('images/Accessoires/BONNETS/bo1.jpeg') }}" class="d-block w-50" alt="..."/>
				<br/>
				<img src="{{ asset('images/Accessoires/BONNETS/bo2.jpeg') }}" class="d-block w-50" alt="..."/>

				<p>  Bonnet de perruque marron et noir slip-free et ultra stretch, protégez vos cheveux naturels. Ce bonnet est légé et durable. </p>


			</div>
		</div>
	</section>
{% endblock %}
